:root {
  --slate-orange: #dfe5e9;
  --light-orange: #b3c4d6;
  --light-cream: #d8e5ec;
  --charcoal: #224366;
}

body{
  font-family: "Nunito", sans-serif !important;
}

.bg-slate-orange {
  background-color: var(--slate-orange) !important;
}

.color-light-orange {
  color: var(--light-orange) !important;
}

.bg-charcoal{
  background-color: var(--charcoal) !important;
}


.color-charcoal{
  color: var(--charcoal) !important;
}
.color-dark-orange {
  color: var(--dark-orange) !important;
}

.bg-light-orange {
  background-color: var(--light-orange) !important;
}

.bg-light-cream {
  background-color: var(--light-cream) !important;
}

.gradient-orange {
  background: linear-gradient(269deg, #f4651a, #f28b30, #f8ae57);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 48%
  }

  50% {
    background-position: 100% 53%
  }

  100% {
    background-position: 0% 48%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 48%
  }

  50% {
    background-position: 100% 53%
  }

  100% {
    background-position: 0% 48%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 48%
  }

  50% {
    background-position: 100% 53%
  }

  100% {
    background-position: 0% 48%
  }
}

.button-orange {
  transition: all 0.64s ease;
}

.transition-all{
  transition: all 0.64s ease;
}

.button-orange:hover {
  color: var(--light-cream) !important;
  background-color: var(--charcoal);
  border: 1px white;

}

.gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.choice-box{
  background-color: var(--slate-orange);
  color: #2c3942;
  /* border: 2px solid white; */
  border-radius: 8px;
  transition: all 0.64s ease;
}

.choice-box:hover{
  background-color: var(--charcoal);
  color: white;
}

.cursor-pointer:hover{
  background-color: var(--charcoal);
  color: white;
}